<h1 class="title">Configure your cookie</h1>


<div class="select">
        <fieldset>
            <legend>Select cookie base</legend>
            {{#each bases}}
                <a href="/configurator/select-base/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}} PLN</a>
            {{/each}}
        </fieldset>

    <fieldset>
        <legend>Select cookie addon</legend>
        {{#each addons}}
            <a href="/configurator/add-addon/{{this.[0]}}">Add {{this.[0]}} for {{this.[1]}} PLN</a>
        {{/each}}
    </fieldset>
</div>

{{> cookie-preview}}
{{> addons}}