<h2>Edytujesz {{client.name}} (<small>{{client.id}}</small>)</h2>


<form action="/client/{{client.id}}?_method=PUT" method="POST">
    <label for="client-email">
        <p>
            E-mail:
        </p>
        <p>
            <input type="email" id="client-email" name="mail" value="{{client.mail}}">
        </p>
    </label>
    <label for="client-name">
        <p>
            Imię:
        </p>
        <p>
            <input type="text" id="client-name" name="name" value="{{client.name}}">
        </p>
    </label>
    <label for="client-next-contact">
        <p>
            Data następnego kontaktu:
        </p>
        <p>
            <input type="date" id="client-next-contact" name="nextContactAt" value="{{client.nextContactAt}}">
        </p>
    </label>
    <label for="client-notes">
        <p>
            Notatki:
        </p>
        <p>
            <textarea name="notes" id="client-notes" cols="30" rows="10">{{client.notes}}</textarea>
        </p>
    </label>

    <p>
        <button type="submit">Zapisz</button>
    </p>
</form>